extends layout

block content
  h1= title
  if user
    p Currently logged in: #{user.displayName} #{user.id}     
  
  table
      tr 
        td Name
        td Attending
        td Hacknight/Python/Haskell?
      each member in jsondata
        if user
          - var className = (member.id == user.id) ? 'active' : ''
        tr(id=member.id) 
          td(class=className) #{member.name}
          td              
            if className == 'active'
              input(
                type='checkbox'
                name='confirmation'
                checked=(member.confirmed)                                 
              )
            else
              - var conf = (member.confirmed) ? 'Yes' : 'No'
              span #{conf}
          td
            if className == 'active'
              mixin tabledata(name, id, value)
                input(
                  type='radio' 
                  name='preference' 
                  id=id 
                  value=value
                  checked=(member.preference == value)                   
                )
                label(for=id) #{name}
              +tabledata('Hacknight', 'toggle-hn', 'Hacknight')
              +tabledata('Python Dojo', 'toggle-python', 'Python')
              +tabledata('Haskell', 'toggle-haskell', 'Haskell')
            else 
                span #{member.preference}
        if className == 'active'
          tr 
            td 
            td(id="submitconf") 
              button(type="submit") Submit
            td
              span(id="message")
block scripts
  script(src="/javascripts/postdata.js")
