extends layout

block content
  h1= title
  include partials/login.pug

  table
    thead
      tr 
        td Name
        // td Attending &nbsp;&nbsp; | &nbsp;&nbsp; Hacknight, Python or Haskell
        td Attending &nbsp;&nbsp; | &nbsp;&nbsp; Will be working on
    tbody
      if jsondata
        each member in jsondata
          if user
            - var className = (member.id == user.id) ? 'active' : ''
                   
          tr(id=member.id) 
            td(class=className) #{member.name} &nbsp;&nbsp;&nbsp;
            td 
              if className == 'active'
                form(action="")
                  table 
                      tr
                        td              
                          input(
                            type='checkbox'
                            name='confirmation'
                            checked=(member.confirmed)                                 
                          )              
                    
                        td
                          // include partials/radiobuttons.pug
                          include partials/haskell.pug
                      tr
                        td(colspan=2)
                          button(type="submit" id="submitconf") Submit  
                      tr  
                        td(colspan=2) 
                          span(id="message")
              else 
                table 
                  tr
                    - var conf = (member.confirmed) ? 'Yes' : ''
                    - classConf = conf == 'Yes' ? 'checkmark' : 'blank' 
                    td(width=60) 
                      div(class=classConf) #{conf}
                    td 
                      if member.preference == 'Haskellbook'
                        div #{member.preference} #{member.chapter}
                      else 
                        div #{member.preference}
                      if member.comment
                        div(class="comment") #{member.comment}        
      else 
        p Cannot retrieve data at this point
block scripts 
  if jsondata 
    script
      | var myjson = !{jsonmod}
      | var chapters = !{chaptersmod}
  if user
    script
      | window.userId = #{user.id};      
  script(src="/javascripts/postdata.js")
